/* All using */


@media screen and (max-width: 767px){
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgb(0, 0, 0, 0.2);
    text-indent: -9999px;
    display: block;
    width: 26px;
    height: 2px;
    /* opacity: 0.7; */
    /* margin: 0; */
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 10px;
    /* width: 100%; */
  }
  /*.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager 
    text-align: left;
    width: 80%; 
  }*/
  
  .aboutsinCon .bx-wrapper{
    background-color:#f8f9fb;
  }
  .aboutsinCon .bx-wrapper img {
    max-width: 50%;
    display: block;
    margin:0 auto 40px;
  }
  .aboutsinCon .bx-wrapper h2{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
  }
  .aboutsinCon .bx-wrapper p{
    line-height: 22px;
    /* height: 140px; */
    width: 80%;
    margin: 0 auto;
    color:#777;
    font-size: 14px;
    /* margin-bottom: 20px; */
  }
  
  .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a {
    border:1px solid rgb(153, 153, 153);
    /* border: 1px solid #000; */
    background: #f8f9fb;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
  }
  .aboutsinCon .bx-wrapper .bx-pager,
  .aboutsinCon .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -70px;
    width: 100%;
  }
}
/* mobile */


@media screen and (min-width: 768px) and (max-width: 1279px){
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgb(0, 0, 0, 0.2);
    text-indent: -9999px;
    display: block;
    width: 40px;
    height: 3px;
    /* opacity: 0.7; */
    /* margin: 0; */
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  /*.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager 
    text-align: left;
    width: 80%; 
  }*/
  
  .aboutsinCon .bx-wrapper{
    background-color:#f8f9fb;
  }
  .aboutsinCon .bx-wrapper img {
    max-width: 25%;
    display: block;
    margin:0 auto 40px;
  }
  .aboutsinCon .bx-wrapper h2{
    margin-bottom: 20px;
    font-size: 20px;
  }
  .aboutsinCon .bx-wrapper p{
    line-height: 26px;
    /* height: 140px; */
    width: 80%;
    margin: 0 auto;
    color:#777;
    font-size: 14px;
    /* margin-bottom: 20px; */
  }
  
  .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a {
    border:1px solid rgb(153, 153, 153);
    /* border: 1px solid #000; */
    background: #f8f9fb;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
  }
  .aboutsinCon .bx-wrapper .bx-pager,
  .aboutsinCon .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -70px;
    width: 100%;
  }
}
/* tablet */


@media screen and (min-width: 1280px){
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgb(0, 0, 0, 0.2);
    text-indent: -9999px;
    display: block;
    width: 60px;
    height: 3px;
    /* opacity: 0.7; */
    /* margin: 0; */
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 45px;
    width: 100%;
  }
  /*.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager 
    text-align: left;
    width: 80%; 
  }*/
  
  .aboutsinCon .bx-wrapper{
    background-color:#f8f9fb;
  }
  .aboutsinCon .bx-wrapper img {
    max-width: 25%;
    display: block;
    margin:0 auto 40px;
  }
  .aboutsinCon .bx-wrapper h2{
    margin-bottom: 20px;
    font-size: 20px;
  }
  .aboutsinCon .bx-wrapper p{
    line-height: 26px;
    height: 140px;
    width: 96%;
    margin: 0 auto;
    color:#777;
    font-size: 14px;
    /* margin-bottom: 20px; */
  }
  
  .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a {
    border:1px solid rgb(153, 153, 153);
    /* border: 1px solid #000; */
    background: #f8f9fb;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
  }
  .aboutsinCon .bx-wrapper .bx-pager,
  .aboutsinCon .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -70px;
    width: 100%;
  }
}
/* desktop */