body{
    font-family: 'Montserrat';
}
a{
    text-decoration: none; color: inherit; 
    /* font-style: none; */
    /* font-style: normal; */
}
li{
    list-style: none;
}
.listContainer > h2{
    display: none;
}
header div ul:after,
.listContainer nav ul:after,
.orderContainer:after,
.payContainer:after,
footer > div:after{
    content: '';
    display: block;
    clear: both;
}
input,textarea{
    font-family: inherit;
}
input[type=checkbox] {
    accent-color: #000;
  }
.closeBtn{
    width: 30px; height: 30px; margin-bottom: 50px; background-size: 30px;
    background-image: url('../images/close_btn.png'); 
    border: none;
    text-indent: -9999px; 
}
.Main section .lineBtn{
    font-size: 14px; color: #2f2f2f; 
    margin-left: 100px;
    font-weight: 400; 
    /* width: 44px;  */
    display: inline;
    /* background-color: #e7616a; */
    border: 1px solid #999;
    padding: 10px 20px;
    border-radius: 250px;
}

#searchPanel{
    display: none;
}
#searchPanel.active{
    display: block; 
    /* background-color:aquamarine; */
}
[id$='Panel']{
    z-index: 1000;
}
[id$='Popup']{
    z-index: 1000;
}

/* header > div ul li input[value='search'].active{
    background-image: url('../images/close_btn.png') center no-repeat;
    text-indent: -9999px; border: none;
} */

header > div h1 a img{
    /* width:218px; */
    padding:20px 0 0 0;
}
input[type='button'],
input[type='submit']{
    cursor: pointer;    
}
/* All using */

@media screen and (max-width: 767px){    
    .aboutsinCon .bx-wrapper{
      background-color:#f8f9fb;
    }
    .aboutsinCon .bx-wrapper img {
      max-width: 50%;
      display: block;
      margin:0 auto 40px;
    }
    .aboutsinCon .bx-wrapper h2{
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
    }
    .aboutsinCon .bx-wrapper p{
      line-height: 22px;
      /* height: 140px; */
      width: 80%;
      margin: 0 auto;
      color:#777;
      font-size: 14px;
      /* margin-bottom: 20px; */
    }    
    .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a {
      border:1px solid rgb(153, 153, 153);
      /* border: 1px solid #000; */
      background: #f8f9fb;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus {
      background: #000;
    }
    .aboutsinCon .bx-wrapper .bx-pager,
    .aboutsinCon .bx-wrapper .bx-controls-auto {
      position: absolute;
      bottom: -70px;
      width: 100%;
    }

    .Main section .lineBtn{
        display: none;
    }
    .listContainer, 
    .artgiftContainer,
    .aboutcreContainer,
    .cartContainer,
    .orderContainer,
    .contactContainer,
    .payContainer {
        max-width: 1530px;
        margin: 0 auto;
    }
    .contactContainer input,
    .contactContainer textarea{
        display: block; width: 100%; 
    }
    .mui{
        display: none;
    }
    #menuPanel{
        background-color: #eee; box-shadow: none;
        width: 100%; 
        left: -100%; 
        padding: 35px 5%; height: 100%;
        position: fixed; top: 0;
        box-sizing: border-box;
        transition-property: left,box-shadow;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(.49,.01,.27,1);
    }
    #menuPanel.active{
        left: 0; box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.2);
    }   
    #menuPanel > *{
        color: #222;
    }
    #menuPanel nav{
        /* border-right: solid; */
        /* border-color: rgba(0, 22, 22, 0.4); */
        /* height: 98%; */
        height: 82%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #menuPanel nav::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    #menuPanel nav::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0,0,0,0.1);
    }
    #menuPanel nav::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }
    #menuPanel nav::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }
    #menuPanel nav::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }    
    #menuPanel nav div{
        cursor: pointer;
    }
    #menuPanel nav b{
        font-size: 24px; font-weight: 500; display: block;
        margin-bottom: 50px;
    }
    #menuPanel nav b:hover{
        font-weight: 600;
    }
    #menuPanel nav > b:last-of-type{
        margin-bottom: 0;
    }
    #menuPanel nav div:not(:last-child) ul{
        height: 0; overflow: hidden; transition: all 0.4s cubic-bezier(.49,.01,.27,1);
        opacity: 0;
    }
    #menuPanel nav div.active ul{
        padding-bottom: 45px; 
        height: 280px; 
        opacity: 1;
    }
    #menuPanel nav div ul li{
        font-size: 18px; font-weight: 400;
    }
    #menuPanel nav div ul li:not(:last-of-type){
        margin-bottom: 15px;
    }
    #menuPanel nav div ul li a{
        display: inline-block;
    }
    #menuPanel nav div ul li a{
        display: inline-block;
    }
    #menuPanel nav div:not(:last-child) ul li a::after{
        content: ''; display: block; width: 0; 
        height: 1px; background-color: #333;
        transition: width 0.7s; margin-top: 3px;
    }
    #menuPanel nav div ul li a:hover::after{
        width: 100%;
    }
    #menuPanel nav div:nth-child(1){
        margin-top: 50px;
    }
    #menuPanel nav div:nth-child(6){
        margin-bottom: 10px;
    }
    #menuPanel .panelfooter{
        /* margin-top: 350px; */
        width:90%;
        /* background-color: aqua; */
        /* padding:10px; */
        position:absolute;
        bottom:5%;
        /* right: 0; */
    }    
    #menuPanel .panelfooter ul li a:nth-child(2){
        /* font-size: 16px; */
        padding:0 18px;
    }
    #menuPanel .panelfooter ul li a:hover{
        color:#333;
        font-weight: 600;
    }


    header{        
        padding: 0 3% 15px;
        box-sizing: border-box;
        background-color: #fff;
        opacity: 0.97;
        position: fixed; left: 0; top: 0; z-index: 10; width: 100%;
        cursor: default;
    }
    header > div:first-of-type{
        position: relative; z-index: 100; 
    }
    header > div:first-of-type div{
        line-height: 50px; position: absolute; left: 0; top: 0;
        padding-right: 35px;
        box-sizing: border-box; 
        /* width: 20%; */
    }
    header > div:first-of-type div input[value='menu']{
        vertical-align: middle; 
        color: black; /* ios 때문에 color 별도 지정 필요   */
        background-color: transparent; border: none; padding: 0;
        font-size: 30px;
    }
    header > div:first-of-type div a{
        font-size: 15px; font-weight: 400; color: #000000; margin-left: 10%;
    }
    header > div:first-of-type h1{
        /* width: 7.76%; */
        min-width: 70px; margin: 0 auto; text-align: center;
    }
    header > div:first-of-type h1 a{
        display: block;
        /* display: inline-block; */
        /* padding: 0; */
    }
    header > div:first-of-type h1 a img{ 
        width: 100%;
        /* max-width: 218px; */
        /* max-width: 168px; */
        max-width: 120px;
    }
    header > div:first-of-type ul{
        line-height: 70px; 
        /* width: 3%; */
        max-width: 120px;
        padding-left: 35px; position: absolute; 
        right: 5px;
        top: 0;
    }
    header > div:first-of-type ul::after{
        content: ''; display: block; clear: both;
    }
    header > div:first-of-type ul li{
        float: left; width: 32%; display: block;
    }
    header > div:first-of-type ul li:not(:first-of-type){
        margin-left: 2%;
    }
    header > div:first-of-type ul li:last-of-type{
        position: relative;
    }
    header > div:first-of-type ul li input{
        background-color: transparent; border: none; 
        background-repeat: no-repeat; background-position: center; width: 22px; 
        height: 22px;
        background-size: 22px; text-indent: -9999px; line-height: 40px;
    }
    header > div:first-of-type ul li input[value='search']{
        background-image: url('../images/icon_search.png');
    }
    header > div:first-of-type ul li:last-of-type span{
        font-size: 12px; font-weight: 400; position: absolute; top: -10px; right: 0;
        color: #000000; display: block;
    }
    

    #searchPanel{
        position: fixed; 
        background-color: #fff;
        padding-top: 100px;
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity:0.95;
    }
    #searchPanel div{
        /* max-width: 990px; */
        margin: 0 auto; 
        position: relative; 
        /* box-sizing: border-box; */
    }
    #searchPanel > div form{
        margin: 30% auto 20px;
        /* max-width: 520px;     */
        max-width: 250px;
    }
    #searchPanel div span{
        display: block; 
        position: relative;
    }
    #searchPanel div span input[type='search']{
        background-color: transparent;        
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 18px;
        /* color: #666; */
        font-weight: 300;
        border-width: 0 0 3px;
        border-bottom: 3px solid #666;
    }
    #searchPanel div span input[type='submit']{
        position: absolute; 
        left:30px;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/icon_search.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPanel div span input[type='submit']:focus{
        background: none;
    }
    #searchPanel div > input[type='button']{
        position: absolute; 
        right: 7%; 
        /* bottom:330px; */
        top:-85%;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/close_btn.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    #searchPanel ul#searchKeyword{
        margin:0 auto;
        text-align: center;
        width:100%;
    }
    #searchPanel #searchKeyword li{
        background-color: #000;
        display: inline-block;
        border-radius: 50px;
        margin-bottom: 15px;
        /* margin-left: 10px; */
        font-size: 13px;
    }
    #searchPanel #searchKeyword li a{
        display: block; 
        padding:15px 20px;
        color:#fff;
    }


    .featureArea{
        /* width:100%; */
        margin: 0 5%;
    }
    .featuredList{
        margin: 0 auto;
        max-width: 1400px;
    }
    .featuredList::after, .newList::after{
        content: ''; display: block; clear: both;
    }
    .featuredList li, .newList li{
        float: left; width: 47%; display: block;
    }
    .featuredList li:nth-of-type(2),
    .featuredList li:nth-of-type(4){
        margin-left: 5%;
    }
    .newList li:not(:first-of-type){
        margin-left: 3%;
    }
    .featuredList li a, 
    .newList li a{
        display: block; margin-bottom: 15px;
    }
    .featuredList li a img{
        width: 100%; display: block; border: 1px solid #eee;
    }
    .newList li a img{
        width: 100%; display: block; border: 1px solid #eee;
    }
    .featuredList li dl,
    .newList li dl{
        text-align: left; font-weight: 400;
    }
    .featuredList li dl dt{
        margin-bottom: 5px; 
    }
    .newList li dl dt{
        margin-bottom: 15px; 
    }
    
    .artgiftContainer > div,
    .aboutcreContainer > div{
        width: 92%; margin: 0 auto;
    }


    .csContainer, .myaccountCon,.myorderCon,.myorderCon2,
    .myeditCon, .myeditCon2,.myeditCon3, 
    .myaddressCon, .editAddressCon{
        /* width: 92%;  */
        margin: 0 auto;
    }
    .csContainer .csMenu,
    .myaccountCon .myWrap,
    .myeditCon .myWrap,
    .myeditCon2 .myWrap,
    .myeditCon3 .myWrap,
    .myaddressCon .myWrap,
    .editAddressCon .myWrap,
    .myorderCon .myWrap,
    /* .orderContainer, */
    .myorderCon2 .myWrap{
        width: 90%; 
        margin: 0 auto;
    }



    footer{
        background-color: #333;
    }
    footer > div{
        padding: 15px 2% 0; position: relative;
    }
    footer > div span{
        display: block;        
        width: 100%;
        text-align: right;
        padding: 10px 0 20px;
    }
    footer > div h2{
        margin-bottom: 20px;
        /* position: absolute; left: 100px; top: 30px; width: 100%; max-width: 218px; */
    }
    footer > div h2 img{
        width: 40%; 
        min-width: 78px; 
        margin-top:10px;
    }
    footer > div ul li{
        display: inline-block; line-height: 20px;
    }
    footer > div ul li a{
        display: inline-block; color: white; font-size: 12px; font-weight: 600;
    }
    footer > div:first-child ul li:not(:nth-child(1)){
        margin-left: 1%;
    }
    footer > div:last-child ul li:not(:first-child){
        margin-left: 3%;
    }    
    footer > div:last-child ul li a{
        font-size: 12px; opacity: 0.4;
    }
    footer > div p{
        /* width: 50%; */
        max-width: 510px; font-size: 11px; font-weight: 400;
        line-height: 22px; color: #fff; opacity:0.4;
    }
    footer > div span a{
        display: inline-block; width: 23px; height: 23px; background-position: center;
        background-repeat: no-repeat; text-indent: -9999px; opacity:0.4;
        text-align: left;
    }
    footer > div ul li a:hover, footer > div span a:hover{
        opacity: 1; text-decoration: underline;
    }
    footer > div span a:not(:first-of-type){
        margin-left: 2.4%;
        /* 1170에 27 */
    }
    footer > div span a:nth-child(1){
        background-image: url('../images/sns_01.png');
    }
    footer > div span a:nth-child(2){
        background-image: url('../images/sns_02.png');
    }
    footer > div span a:nth-child(3){
        background-image: url('../images/sns_03.png');
    }
    footer > div span a:nth-child(4){
        background-image: url('../images/sns_04.png');
    }
}
/* mobile */


@media screen and (min-width: 768px) and (max-width: 1279px){    
    .aboutsinCon .bx-wrapper{
      background-color:#f8f9fb;
    }
    .aboutsinCon .bx-wrapper img {
      max-width: 25%;
      display: block;
      margin:0 auto 40px;
    }
    .aboutsinCon .bx-wrapper h2{
      margin-bottom: 20px;
      font-size: 20px;
    }
    .aboutsinCon .bx-wrapper p{
      line-height: 26px;
      /* height: 140px; */
      width: 80%;
      margin: 0 auto;
      color:#777;
      font-size: 14px;
      /* margin-bottom: 20px; */
    }
    
    .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a {
      border:1px solid rgb(153, 153, 153);
      /* border: 1px solid #000; */
      background: #f8f9fb;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus {
      background: #000;
    }
    .aboutsinCon .bx-wrapper .bx-pager,
    .aboutsinCon .bx-wrapper .bx-controls-auto {
      position: absolute;
      bottom: -70px;
      width: 100%;
    }


    .listContainer, 
    .artgiftContainer,
    .aboutcreContainer,
    .cartContainer,
    .orderContainer,
    .contactContainer,
    .payContainer {
        max-width: 1530px;
        margin: 0 auto;
    }
    .contactContainer input,
    .contactContainer textarea{
        display: block; width: 100%; 
    }
    .mui{
        display: none;
    }
    #menuPanel{
        background-color: #eee; box-shadow: none;
        width: 45%; 
        left: -45%; 
        padding: 35px 2.5%; height: 100%;
        position: fixed; top: 0;
        box-sizing: border-box;
        transition-property: left,box-shadow;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(.49,.01,.27,1);
    }
    #menuPanel.active{
        left: 0; box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.2);
    }   
    #menuPanel > *{
        color: #222;
    }
    #menuPanel nav{
        /* border-right: solid; */
        /* border-color: rgba(0, 22, 22, 0.4); */
        /* height: 98%; */
        height: 82%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #menuPanel nav::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    #menuPanel nav::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0,0,0,0.1);
    }
    #menuPanel nav::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }
    #menuPanel nav::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }
    #menuPanel nav::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }    
    #menuPanel nav div{
        cursor: pointer;
    }
    #menuPanel nav b{
        font-size: 24px; font-weight: 500; display: block;
        margin-bottom: 50px;
    }
    #menuPanel nav b:hover{
        font-weight: 600;
    }
    #menuPanel nav > b:last-of-type{
        margin-bottom: 0;
    }
    #menuPanel nav div:not(:last-child) ul{
        height: 0; overflow: hidden; transition: all 0.4s cubic-bezier(.49,.01,.27,1);
        opacity: 0;
    }
    #menuPanel nav div.active ul{
        padding-bottom: 45px; 
        height: 280px; 
        opacity: 1;
    }
    #menuPanel nav div ul li{
        font-size: 18px; font-weight: 400;
    }
    #menuPanel nav div ul li:not(:last-of-type){
        margin-bottom: 15px;
    }
    #menuPanel nav div ul li a{
        display: inline-block;
    }
    #menuPanel nav div ul li a{
        display: inline-block;
    }
    #menuPanel nav div:not(:last-child) ul li a::after{
        content: ''; display: block; width: 0; 
        height: 1px; background-color: #333;
        transition: width 0.7s; margin-top: 3px;
    }
    #menuPanel nav div ul li a:hover::after{
        width: 100%;
    }
    #menuPanel nav div:nth-child(1){
        margin-top: 50px;
    }
    #menuPanel nav div:nth-child(6){
        margin-bottom: 10px;
    }
    #menuPanel .panelfooter{
        /* margin-top: 350px; */
        width:90%;
        /* background-color: aqua; */
        padding:10px;
        position:absolute;
        bottom:5%;
        /* right: 0; */
    }    
    #menuPanel .panelfooter ul li a:nth-child(2){
        /* font-size: 16px; */
        padding:0 18px;
    }
    #menuPanel .panelfooter ul li a:hover{
        color:#333;
        font-weight: 600;
    }


    header{        
        padding: 0 3% 15px;
        box-sizing: border-box;
        background-color: #fff;
        opacity: 0.97;
        position: fixed; left: 0; top: 0; z-index: 10; width: 100%;
        cursor: default;
    }
    header > div:first-of-type{
        position: relative; z-index: 100; 
    }
    header > div:first-of-type div{
        line-height: 70px; position: absolute; left: 0; top: 0;
        padding-right: 35px;
        box-sizing: border-box; 
        /* width: 20%; */
    }
    header > div:first-of-type div input[value='menu']{
        vertical-align: middle; 
        color: black; /* ios 때문에 color 별도 지정 필요   */
        background-color: transparent; border: none; font-size: 35px; padding: 0;
    }
    header > div:first-of-type div a{
        font-size: 15px; font-weight: 400; color: #000000; margin-left: 10%;
    }
    header > div:first-of-type h1{
        /* width: 7.76%; */
        min-width: 70px; margin: 0 auto; text-align: center;
    }
    header > div:first-of-type h1 a{
        display: block;
        /* display: inline-block; */
        /* padding: 0; */
    }
    header > div:first-of-type h1 a img{ 
        width: 100%;        
        max-width: 218px;
    }
    header > div:first-of-type ul{
        line-height: 70px; width: 3%; max-width: 120px;
        padding-left: 35px; position: absolute; right: 0; top: 0;
    }
    header > div:first-of-type ul::after{
        content: ''; display: block; clear: both;
    }
    header > div:first-of-type ul li{
        float: left; width: 32%; display: block;
    }
    header > div:first-of-type ul li:not(:first-of-type){
        margin-left: 2%;
    }
    header > div:first-of-type ul li:last-of-type{
        position: relative;
    }
    header > div:first-of-type ul li input{
        background-color: transparent; border: none; 
        background-repeat: no-repeat; background-position: center; width: 22px; height: 22px;
        background-size: 22px; text-indent: -9999px;
    }
    header > div:first-of-type ul li input[value='search']{
        background-image: url('../images/icon_search.png');
    }
    header > div:first-of-type ul li:last-of-type span{
        font-size: 12px; font-weight: 400; position: absolute; top: -10px; right: 0;
        color: #000000; display: block;
    }
    

    #searchPanel{
        position: fixed; 
        background-color: #fff;
        padding-top: 100px;
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity:0.95;
    }
    #searchPanel div{
        /* max-width: 990px; */
        margin: 0 auto; 
        position: relative; 
        /* box-sizing: border-box; */
    }
    #searchPanel > div form{
        margin: 20% auto 80px;
        max-width: 520px;    
    }
    #searchPanel div span{
        display: block; 
        position: relative;
    }
    #searchPanel div span input[type='search']{
        background-color: transparent;        
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 18px;
        /* color: #666; */
        font-weight: 300;
        border-width: 0 0 3px;
        border-bottom: 3px solid #666;
    }
    #searchPanel div span input[type='submit']{
        position: absolute; 
        left:30px;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/icon_search.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPanel div span input[type='submit']:focus{
        background: none;
    }
    #searchPanel div > input[type='button']{
        position: absolute; 
        right: 50px; 
        /* bottom:330px; */
        top:-99%;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/close_btn.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    #searchPanel ul#searchKeyword{
        margin:0 auto;
        text-align: center;
        width:100%;
    }
    #searchPanel #searchKeyword li{
        background-color: #000;
        display: inline-block;
        border-radius: 50px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    #searchPanel #searchKeyword li a{
        display: block; 
        padding:15px 20px;
        color:#fff;
    }


    .featureArea{
        /* width:100%; */
        margin: 0 3%;
    }
    .featuredList{
        margin: 0 auto;
        max-width: 1400px;
    }
    .featuredList::after, .newList::after{
        content: ''; display: block; clear: both;
    }
    .featuredList li, .newList li{
        float: left; width: 22.7%; display: block;
    }
    .featuredList li:not(:first-of-type),
    .newList li:not(:first-of-type){
        margin-left: 3%;
    }
    .featuredList li a, 
    .newList li a{
        display: block; margin-bottom: 15px;
    }
    .featuredList li a img,
    .newList li a img{
        width: 100%; display: block; border: 1px solid #eee;
    }
    .featuredList li dl,
    .newList li dl{
        text-align: left; font-weight: 400;
    }
    .featuredList li dl dt,
    .newList li dl dt{
        margin-bottom: 15px; 
    }
    
    .artgiftContainer > div,
    .aboutcreContainer > div{
        width: 92%; margin: 0 auto;
    }


    .csContainer, .myaccountCon,.myorderCon,.myorderCon2,
    .myeditCon, .myeditCon2,.myeditCon3, 
    .myaddressCon, .editAddressCon{
        /* width: 92%;  */
        margin: 0 auto;
    }
    .csContainer .csMenu,
    .myaccountCon .myWrap,
    .myeditCon .myWrap,
    .myeditCon2 .myWrap,
    .myeditCon3 .myWrap,
    .myaddressCon .myWrap,
    .editAddressCon .myWrap,
    .myorderCon .myWrap,
    /* .orderContainer, */
    .myorderCon2 .myWrap{
        width: 90%; 
        margin: 0 auto;
    }



    footer{
        background-color: #333;
    }
    footer > div{
        padding: 30px 100px; position: relative;
    }
    footer > div span{
        display: block; position: absolute; 
        right: 100px; top: 30px;
        width: 50%; text-align: right;
    }
    footer > div h2{
        position: absolute; left: 100px; top: 30px; width: 100%; max-width: 218px;
    }
    footer > div h2 img{
        width: 60%; 
        min-width: 78px; 
    }
    footer > div ul li{
        display: inline-block;
    }
    footer > div ul li a{
        display: inline-block; color: white; font-size: 13px; font-weight: 600;
    }
    footer > div:first-child ul{
        text-align: right;
        /* padding: 0 50px;  */
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:last-child ul{
        padding: 0 0 8px 0;
    }
    footer > div:last-child ul li:not(:first-child){
        margin-left: 1%;
    }    
    footer > div:last-child ul li a{
        font-size: 12px; opacity: 0.4;
    }
    footer > div p{
        width: 50%; max-width: 510px; font-size: 11px; font-weight: 400;
        line-height: 22px; color: #fff; opacity:0.4;
    }
    footer > div span a{
        display: inline-block; width: 23px; height: 23px; background-position: center;
        background-repeat: no-repeat; text-indent: -9999px; opacity:0.4;
        text-align: left;
    }
    footer > div ul li a:hover, footer > div span a:hover{
        opacity: 1; text-decoration: underline;
    }
    footer > div span a:not(:first-of-type){
        margin-left: 2.4%;
        /* 1170에 27 */
    }
    footer > div span a:nth-child(1){
        background-image: url('../images/sns_01.png');
    }
    footer > div span a:nth-child(2){
        background-image: url('../images/sns_02.png');
    }
    footer > div span a:nth-child(3){
        background-image: url('../images/sns_03.png');
    }
    footer > div span a:nth-child(4){
        background-image: url('../images/sns_04.png');
    }
}
/* tablet */


@media screen and (min-width: 1280px){
    .aboutsinCon .bx-wrapper{
      background-color:#f8f9fb;
    }
    .aboutsinCon .bx-wrapper img {
      max-width: 25%;
      display: block;
      margin:0 auto 40px;
    }
    .aboutsinCon .bx-wrapper h2{
      margin-bottom: 20px;
      font-size: 20px;
    }
    .aboutsinCon .bx-wrapper p{
      line-height: 26px;
      height: 140px;
      width: 96%;
      margin: 0 auto;
      color:#777;
      font-size: 14px;
      /* margin-bottom: 20px; */
    }
    
    .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a {
      border:1px solid rgb(153, 153, 153);
      /* border: 1px solid #000; */
      background: #f8f9fb;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    .aboutsinCon .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:focus {
      background: #000;
    }
    .aboutsinCon .bx-wrapper .bx-pager,
    .aboutsinCon .bx-wrapper .bx-controls-auto {
      position: absolute;
      bottom: -70px;
      width: 100%;
    }

    .listContainer, 
    .artgiftContainer,
    .aboutcreContainer,
    .cartContainer,
    .orderContainer,
    .contactContainer,
    .payContainer {
        max-width: 1530px;
        margin: 0 auto;
    }
    .contactContainer input,
    .contactContainer textarea{
        display: block; width: 100%; 
    }
    .mui{
        display: none;
    }
    #menuPanel{
        background-color: #eee; box-shadow: none;
        width: 21.50%; padding: 35px 1.5%; height: 100%;
        position: fixed; top: 0;
        left: -21.50%; box-sizing: border-box;
        transition-property: left,box-shadow;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(.49,.01,.27,1);
    }
    #menuPanel.active{
        left: 0; box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.2);
    }   
    #menuPanel > *{
        color: #222;
    }
    #menuPanel nav{
        /* border-right: solid; */
        /* border-color: rgba(0, 22, 22, 0.4); */
        /* height: 98%; */
        height: 82%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #menuPanel nav::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    #menuPanel nav::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0,0,0,0.1);
    }
    #menuPanel nav::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }
    #menuPanel nav::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }
    #menuPanel nav::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }    
    #menuPanel nav div{
        cursor: pointer;
    }
    #menuPanel nav b{
        font-size: 24px; font-weight: 500; display: block;
        margin-bottom: 50px;
    }
    #menuPanel nav b:hover{
        font-weight: 600;
    }
    #menuPanel nav > b:last-of-type{
        margin-bottom: 0;
    }
    #menuPanel nav div:not(:last-child) ul{
        height: 0; overflow: hidden; transition: all 0.4s cubic-bezier(.49,.01,.27,1);
        opacity: 0;
    }
    #menuPanel nav div.active ul{
        padding-bottom: 45px; 
        height: 280px; 
        opacity: 1;
    }
    #menuPanel nav div ul li{
        font-size: 18px; font-weight: 400;
    }
    #menuPanel nav div ul li:not(:last-of-type){
        margin-bottom: 15px;
    }
    #menuPanel nav div ul li a{
        display: inline-block;
    }
    #menuPanel nav div ul li a{
        display: inline-block;
    }
    #menuPanel nav div:not(:last-child) ul li a::after{
        content: ''; display: block; width: 0; 
        height: 1px; background-color: #333;
        transition: width 0.7s; margin-top: 3px;
    }
    #menuPanel nav div ul li a:hover::after{
        width: 100%;
    }
    #menuPanel nav div:nth-child(1){
        margin-top: 30px;
    }
    #menuPanel nav div:nth-child(6){
        margin-bottom: 10px;
    }
    #menuPanel .panelfooter{
        /* margin-top: 350px; */
        width:80%;
        /* background-color: aqua; */
        padding:10px;
        position:absolute;
        bottom:5%;
        /* right: 0; */
    }    
    #menuPanel .panelfooter ul li a:nth-child(2){
        /* font-size: 16px; */
        padding:0 32px;
    }
    #menuPanel .panelfooter ul li a:hover{
        color:#333;
        font-weight: 600;
    }


    header{        
        padding: 0 1.5% 15px; 
        box-sizing: border-box;
        background-color: #fff;
        opacity: 0.97;
        position: fixed; left: 0; top: 0; z-index: 100; width: 100%;
        cursor: default;
    }
    header > div:first-of-type{
        position: relative; z-index: 100; 
    }
    header > div:first-of-type div{
        line-height: 70px; position: absolute; left: 0; top: 0;
        padding-right: 35px;
        box-sizing: border-box; 
        /* width: 20%; */
    }
    header > div:first-of-type div input[value='menu']{
        vertical-align: middle;
        background-color: transparent; border: none; font-size: 35px; padding: 0;
    }
    header > div:first-of-type div a{
        font-size: 15px; font-weight: 400; color: #000000; margin-left: 10%;
    }
    header > div:first-of-type h1{
        /* width: 7.76%; */
        min-width: 70px; margin: 0 auto; text-align: center;
    }
    header > div:first-of-type h1 a{
        display: block;
        /* display: inline-block; */
        /* padding: 0; */
    }
    header > div:first-of-type h1 a img{ 
        width: 100%;
        max-width: 218px; 
    }
    header > div:first-of-type ul{
        line-height: 70px; 
        /* width: 3%; */
        max-width: 120px;
        padding-left: 35px; position: absolute; right: 5px; top: 0;
    }
    header > div:first-of-type ul::after{
        content: ''; display: block; clear: both;
    }
    header > div:first-of-type ul li{
        float: left; width: 32%; display: block;
    }
    header > div:first-of-type ul li:not(:first-of-type){
        margin-left: 2%;
    }
    header > div:first-of-type ul li:last-of-type{
        position: relative;
    }
    header > div:first-of-type ul li input{
        background-color: transparent; border: none; 
        background-repeat: no-repeat; background-position: center; width: 22px; height: 22px;
        background-size: 22px; text-indent: -9999px;
    }
    header > div:first-of-type ul li input[value='search']{
        background-image: url('../images/icon_search.png');
    }
    header > div:first-of-type ul li:last-of-type span{
        font-size: 12px; font-weight: 400; position: absolute; top: -10px; right: 0;
        color: #000000; display: block;
    }
    

    #searchPanel{
        position: fixed; 
        background-color: #fff;
        padding: 50px 0; 
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity:0.95;
    }
    #searchPanel div{
        max-width: 990px;
        margin: 0 auto; 
        position: relative; 
        box-sizing: border-box;
    }
    #searchPanel > div form{
        margin: 30% auto 80px;
        max-width: 520px;    
    }
    #searchPanel div span{
        display: block; 
        position: relative;
    }
    #searchPanel div span input[type='search']{
        background-color: transparent;        
        width: 100%;
        padding: 20px 6%;
        text-align: center;
        font-size: 18px;
        color: #666;
        font-weight: 300;
        border-width: 0 0 3px;
    }
    #searchPanel div span input[type='submit']{
        position: absolute; 
        left:30px;
        bottom: 20px;
        text-indent: -9999px;
        background-color: transparent;
        border-width: 0;
        background: url('../images/icon_search.png') center / cover no-repeat;
        width: 21px;
        height: 21px;
    }
    #searchPanel div span input[type='submit']:focus{
        background: none;
    }
    #searchPanel div > input[type='button']{
        position: absolute; 
        right: -410px; 
        bottom:440px;
        text-indent: -9999px;
        border-width: 0;
        background: url('../images/close_btn.png') center / cover no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    #searchPanel #searchKeyword li{
        background-color: #000;
        display: inline-block;
        border-radius: 50px;
        margin-left: 15px;
    }
    #searchPanel #searchKeyword li a{
        display: block; 
        font-size: 20px;
        padding:15px 35px;
        color:#fff;
    }


    .featureArea{
        width:100%;
    }
    .featuredList{
        margin: 0 auto;
        max-width: 1400px;
    }
    .featuredList::after, .newList::after{
        content: ''; display: block; clear: both;
    }
    .featuredList li, .newList li{
        float: left; width: 22.7%; display: block;
    }
    .featuredList li:not(:first-of-type),
    .newList li:not(:first-of-type){
        margin-left: 3%;
    }
    .featuredList li a, 
    .newList li a{
        display: block; margin-bottom: 15px;
    }
    .featuredList li a img,
    .newList li a img{
        width: 100%; display: block; border: 1px solid #eee;
    }
    .featuredList li dl,
    .newList li dl{
        text-align: left; font-weight: 400;
    }
    .featuredList li dl dt,
    .newList li dl dt{
        margin-bottom: 15px; 
    }
    
    .artgiftContainer > div,
    .aboutcreContainer > div{
        width: 92%; margin: 0 auto 100px;
    }


    .csContainer, .myaccountCon,.myorderCon,.myorderCon2,
    .myeditCon, .myeditCon2,.myeditCon3, 
    .myaddressCon, .editAddressCon{
        /* width: 92%;  */
        margin: 0 auto;
    }
    .csContainer .csMenu,
    .myaccountCon .myWrap,
    .myeditCon .myWrap,
    .myeditCon2 .myWrap,
    .myeditCon3 .myWrap,
    .myaddressCon .myWrap,
    .editAddressCon .myWrap,
    .myorderCon .myWrap,
    /* .orderContainer, */
    .myorderCon2 .myWrap{
        width: 70%; 
        margin: 0 auto;
    }



    footer{
        background-color: #333;
    }
    footer > div{
        padding: 30px 100px; position: relative;
    }
    footer > div span{
        display: block; position: absolute; 
        right: 100px; top: 30px;
        width: 50%; text-align: right;
    }
    footer > div h2{
        position: absolute; left: 100px; top: 30px; width: 100%; max-width: 218px;
    }
    footer > div h2 img{
        width: 100%; 
        min-width: 78px; 
    }
    footer > div ul li{
        display: inline-block;
    }
    footer > div ul li a{
        display: inline-block; color: white; font-size: 13px; font-weight: 600;
    }
    footer > div:first-child ul{
        text-align: right;
        /* padding: 0 50px;  */
    }
    footer > div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer > div:last-child ul{
        padding: 0 0 8px 0;
    }
    footer > div:last-child ul li:not(:first-child){
        margin-left: 1%;
    }    
    footer > div:last-child ul li a{
        font-size: 12px; opacity: 0.4;
    }
    footer > div p{
        width: 50%; max-width: 510px; font-size: 11px; font-weight: 400;
        line-height: 22px; color: #fff; opacity:0.4;
    }
    footer > div span a{
        display: inline-block; width: 23px; height: 23px; background-position: center;
        background-repeat: no-repeat; text-indent: -9999px; opacity:0.4;
        text-align: left;
    }
    footer > div ul li a:hover, footer > div span a:hover{
        opacity: 1; text-decoration: underline;
    }
    footer > div span a:not(:first-of-type){
        margin-left: 2.4%;
        /* 1170에 27 */
    }
    footer > div span a:nth-child(1){
        background-image: url('../images/sns_01.png');
    }
    footer > div span a:nth-child(2){
        background-image: url('../images/sns_02.png');
    }
    footer > div span a:nth-child(3){
        background-image: url('../images/sns_03.png');
    }
    footer > div span a:nth-child(4){
        background-image: url('../images/sns_04.png');
    }
}
/* desktop */